---
import Header from "./profile/Header.astro";
import HistorieCard from "./profile/HistorieCard.astro";
import { Tabs } from "./profile/Tabs.jsx";
import Description from "./profile/Description.astro";
import { technologies } from "../utils/technologies.js";
import { StoriesCarousel } from "./profile/StoriesCarousel.jsx";
import { Cta } from "./profile/Cta.jsx";
import { MessagePill } from "./profile/MessagePill.jsx";

import { PiPaperPlaneTiltBold } from "react-icons/pi";
import { MdOutlineWorkOutline } from "react-icons/md";
import { MdOutlineFileDownload } from "react-icons/md";
---

<main class="flex flex-col items-center w-full py-6 text-white gap-2">
  <Header />
  <Description show="hidden max-s:flex" />
  <section
    class="flex w-full gap-2 max-s:mt-4 max-w-2xl max-s:max-w-full mt-7 px-5"
  >
    <Cta
      client:load
      id="message-button"
      label="Enviar mensaje"
      action="message"
    >
      <PiPaperPlaneTiltBold size={18} />
    </Cta>

    <Cta
      client:load
      id="proyects-button"
      label="Ver Proyectos"
      action="projects"
    >
      <MdOutlineWorkOutline size={18} />
    </Cta>
    <a
      href="./cv-Alejandro-Otinano.pdf"
      download="cv-Alejandro-Otinano.pdf"
      class="flex justify-center items-center gap-3 px-6 py-3.5 max-s:px-4 max-s:py-3 w-fit transition-colors hover:bg-secondary bg-primary-hover rounded-xl text-white text-sm max-s:text-xs font-semibold cursor-pointer"
    >
      <MdOutlineFileDownload size={18} />

      CV
    </a>
  </section>
  <StoriesCarousel client:load>
    {
      technologies.map((h) => (
        <HistorieCard
          id={h.id}
          title={h.title}
          src={h.src}
          label={h.label}
          alt={h.label}
        />
      ))
    }
  </StoriesCarousel>
  <section class="flex flex-col w-full max-w-6xl">
    <Tabs client:load />
  </section>

  <MessagePill client:load />
</main>
